{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>О нас</h1>
        <div class="alert alert-warning" >
        <p>Добро пожаловать в RegularCoffee! Мы — уютное кафе, созданное для любителей настоящего кофе и приятной атмосферы.
            У нас вы найдете широкий ассортимент ароматных напитков, свежей выпечки и закусок, которые сделают ваш день особенным.</p>
           <p> В RegularCoffee мы уделяем особое внимание качеству обслуживания и заботе о наших гостях. Наши бариста проходят обучение,
            чтобы каждый напиток был приготовлен с профессионализмом и любовью. Мы стремимся к тому, чтобы каждый гость чувствовал себя как дома.</p>
        </div>
<!--        <button class="btn btn-warning">назад</button>-->
    </div>
{% endblock %}