{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="features">
<h1>Первый урок</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fof40kYAnCI?si=FDtBwT23AhoQzKpP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h1>второй урок</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/JDjXSiiLOM8?si=HoRfBzwi0eqzvd8z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h1>третий урок</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/xmMj44CEbSo?si=Zvv6HjWINy3NVpgG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
{% endblock %}